<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Brave Browser.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "zendesk.com" OR URL CONTAINS "headwayapp.com" OR URL CONTAINS "forestapp.com" OR URL CONTAINS "trello.com" OR URL CONTAINS "honeycomb.io" OR URL CONTAINS "15five.com" OR URL CONTAINS "github.com/nomics-crypto" OR URL CONTAINS "pagerduty.com" OR URL CONTAINS "sentry.io"</string>
		<key>title</key>
		<string>Nomics</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/zoom.us.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "zoom.us"</string>
		<key>title</key>
		<string>Zoom</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Notion.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "notion.so"</string>
		<key>title</key>
		<string>Notion</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Spotify.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "open.spotify.com"</string>
		<key>title</key>
		<string>Spotify</string>
	</dict>
</array>
</plist>
